/* User Component Styles */
.user {
    width: 100%;
    min-width: 345px;
    max-width: 900px;
    // height: 275px;
    font-family: "Raleway", sans-serif;
    padding: 20px 30px 10px;
    border-bottom: 1px solid #0a63d7;
    background-color: #fffffff3;
    border-radius: 2px;
    font-size: 10px;
    box-shadow: 0 0 10px 0 #00000028;
    transition: all 0.3s ease-in-out;

    &_head {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #0a63d7;
        font-weight: 700;
        font-size: 15px;
    }


    &_userForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 18px 0 10px;
        row-gap: 18px;

        &_section {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
            row-gap: 5px;

            &_label {
                width: 100%;
                font-weight: bold;
                font-size: 14px;
                font-weight: 600;
                margin: 7px 0;
                text-align: left;
            }
            &_input {
                width: 100%;
                padding: 1px 3px;
                font-size: 19px;
                font-weight: 500;
                outline: none;
                border: none;
                border-bottom: 1px solid #ccc;
                background-color: transparent;

                &:focus {
                    border-bottom: 1px solid #01d1b9;
                }
            }
        }

        &_info {
            width: 100%;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        
            &_error {
                padding: 15px 0;
                display: flex;
                justify-content: center !important;
            }
            
            &_done {
                padding: 15px 0;
                display: flex;
                justify-content: center !important;
            }
        }

        &_btn {
            width: 200px;
            height: 45px;
            display: block;
            margin: 15px 3px 0;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
            opacity: 0.9;
            background: linear-gradient(90deg, #008bdd, #01d1b9);
            color: white;
            border-radius: 40px;
            font-size: 16px;

            &:hover {
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                background: linear-gradient(170deg, #008bdd, #01d1b9);
            }
        }
        
    }
}


